body{
	width:100%;
	height:100%;
	font-family:_'Gotu'_,sans-serif;
	background-image:url(wmt.jpg ); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
}
hr{
	border-color:#f05f44;
	border-width:6px;
	max-width:40px;
}
.buffer{
	height:20px;
}
h1{
	color:white;
	font-size:3rem;
	}
.btn{
	font-weight:700;
	border-radius:300px;
	text-transform:uppercase;
}
.btn-primary{
	background-color:#f05f44;
	border-color:#f05f44;
}
.btn-primary:hover{
	background-color:#ee405f;
	border-color:#ee405f;
	border-width:10px;
	
}
.btn-xl{
	padding:1rem 2rem;
}
